{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>Login</h1>
        <div class="myform">
            {{ wtf.quick_form(form) }}
        </div>
        <p>An admin? <a href="{{ url_for('register_admin') }}">Register here</a></p>
        <p>A teacher? <a href="{{ url_for('register_teacher') }}">Register here</a></p>
        <p>A student? <a href="{{ url_for('register_student') }}">Register here</a></p>
    </div> 
    <div class="col-md-4"></div> 
</div>
{% endblock %}